DOC/
.vs/
VanitySearchNoCUDA.*
VanitySearch.vcxproj.user
VanitySearchCUDA8.vcxproj.user
VanitySearchCUDA8.VC.opendb
VanitySearchCUDA8.sdf
vc140.pdb
x64/
obj/
.idea/
CMakeLists.txt
cmake-build-debug/
*.prf
*.exe
*.obj
*.lib
*.exp
*.pdb
build.bat
